<!DOCTYPE html>
<html>
    <head>
        <link href="/views/style.css" rel="stylesheet">
        <link href="/views/favicon.png" rel="shortcut icon">
        <title>Icosahedron</title>
    </head>
    <body>
        <header>
            <h1>This is a Icosahedron.</h1>
            <h2>rendered in 2D canvas</h2>
        </header>
        <article>
            <section id="model">
                <canvas height="600"></canvas>
                <div style="text-align: center; color: #606060">Revolve the model with Arrow Keys</div>
            </section>
        </article>
        <script src="/views/main.js"></script>
    </body>
</html>